asgiref
certifi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-tinymce
djangorestframework
idna
oauthlib
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
sqlparse
tzdata
urllib3
pillow
