{% include "orbils/header.html" %}
<div style="padding:10px; width:40vw; border:2px sloid #000;margin:20px 20px;font-size: 13px;fot-weight:500px; text-decoration:none; ">
<h4>"Discover the Future: Join Our Lineup of Unmissable Tech Events!"</h4>
<div class="marquee-container" > 
    <div class="marquee-content">
      <!-- Your content goes here -->
      
      <a href=""><li> Web Development Workshop - Mar 15 - XYZ University Auditorium - Learn to build stunning websites from scratch! Join us for a hands-on workshop covering HTML, CSS, and JavaScript.</li></a>
      <a href=""><li>Networking Session with Industry Experts - Apr 5 - ABC Company HQ - Connect with top professionals and explore exciting career opportunities in the IT industry!</li></a>
      <a href=""><li>Project Management Seminar - Apr 20 - City Convention Center - Master the art of project management and boost your career prospects in the tech world!</li></a>
      <a href=""><li> Hackathon Competition - May 10-12 - XYZ University Campus - Compete, collaborate, and innovate! Solve real-world challenges using cutting-edge technology.</li></a>
      <a href=""><li>AI and Machine Learning Workshop - Jun 1 - ABC Company Training Center - Dive into the future of technology! Explore the fascinating world of AI and machine learning with industry experts.</li></a>
      <a href=""><li>Tech Talks Series - Cybersecurity Edition - Jul 5-7 - Online (Virtual Event) - Safeguard your digital world! Join our expert talks on cybersecurity and protect yourself from online threats.</li></a>
      <a href=""><li>Annual IT Conference - Aug 15-17 - City Convention Center - Ignite your passion for technology! Engage with thought leaders, explore emerging trends, and shape the future of IT.</li></a>
      
    
      <!-- Add more items as needed -->
    </div>
  </divstyle=>
</div>
{% include "orbils/footer.html" %}